<%= simple_form_for(@todo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>

    <div class="form-group" id="task-fields-wrapper">
      <ul>
        <%= f.simple_fields_for(:tasks) do |task| %>
          <%= render "task_fields", f: task %>
        <% end %>
      </ul>

      <%= link_to_add_association 'add task', f, :tasks,
            'data-association-insertion-node' => "#task-fields-wrapper ul",
            'data-association-insertion-method' => "append" %>
    </div>

    <%= f.input :private %>
    <%= f.input :completed %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
